h1 {
    text-align: center;
}
body {
    background-color: #9c9999ff;
}
.href {
display: block;
margin: 0 auto;
}
.container {
    width: 1300px;
}
.text-1 {
    color: orange;
}
.text-2 {
    color: midnightblue;
}
a {
    text-decoration: none;
    color: brown;
}